@font-face {
    font-family: 'Neue Haas Black';
    src: url('./fonts/NH-Black.woff') format('woff'),
        url('./fonts/NH-Black.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Regular';
    src: url('./fonts/NH-Regular.woff') format('woff'),
        url('./fonts/NH-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html{
    margin: 0;
    font-size: 10px;
    font-family: 'Playfair Display';
    box-sizing: border-box;
    background-color: #f6f2f1;
}

body {
    padding: 1rem;
    font-size: 1.6rem;
}

.harvest{
  font-size: 5em;
  font-weight: 600;
  color: #4c2a22;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 3px #4c2a22;
}

p{
  color: #4c2a22;
}

.title{
  width: 60%;
  text-align: center;
  padding-top: 2em;
  border-left: solid 3px #4c2a22;
  border-right: solid 3px #4c2a22;
}

.date{
  font-size: 2.5rem;
  font-weight: 200;
}

.illustration{
  height: 24vh;
  width:12vw;
  padding:1em;
}

.logo{
  width:20%;
  padding-left: 3.3em;
  border: none;
}

.title-info{
  font-size: 2rem;
  color: #4c2a22;
  width:20%;
  text-align: center;
  padding-top: 4em;
  font-weight: 600;
}

.button-bar{
  border: solid 3px #4c2a22;
  border-top: 0px;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.4em;
}

.harvest-info{
  display: flex;
  flex-wrap: wrap;
  border: solid 3px #4c2a22;
  border-top: 0px;
  justify-content: space-between;

}

.picks{
  border: solid 3px #4c2a22;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  text-align: left;
  width:60%;
}

.sub{
  font-size: 4em;
  color: #4c2a22;
  font-weight: 600;
  padding: 0.5em;
  padding-bottom: 0;
}

.chanterelle{
  height:70%;
  width: auto;
  padding-top: 2em;
  padding-bottom: 0;
  padding-left: 1em;
}

.pick-info{
  padding-left: 1.7em;
  padding-top: 1em;
  font-size: 1.3em;
}
span{
  font-style: italic;
}

 .grid-items img{
   width:30%;
   border: solid 3px;
   border-radius: 10%;
   padding: 2em;
   align-items: center;
 }

 button{
   color: #4c2a22;
 }

 .grid-items{
   border: solid 3px #4c2a22;
   border-top: 0;
   display: flex;
   flex-flow: row;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
 }
