/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    /* padding: 20px; */
  }

  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #111;
    font-family: Helvetica, sans-serif;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: white;
    font-family: 'Times New Roman', serif;
  }
  
  .container-1 {
    position: sticky;
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%, -10%); */
    text-align: center;
    padding: 30px;
  }

  .container-2 {
    position: sticky;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 20px;
  }

.collection{
    position: absolute;
}
  
.gallery img {
  /* position: absolute; */
    display: flex;
    flex-wrap: nowrap;
    max-width:130px;
    height:auto;
    object-fit: scale-down;
    display: hidden;
    padding: 10px;
    /* padding-left:5px; */
    animation: popups;
    animation-fill-mode: forwards;
    opacity: 50%;
    filter: blur(2px);
    
 }

@keyframes popups {
    from {display: hidden;}
    to {display: inline;}
}

/* button{
    font-size: 1em;
    background-color: red;
    opacity: 50%;
} */

#title-1{
    background-color: white;
    opacity: 60%;
    position: fixed;
    height: 110%;
    width: 50%;
    margin: 0;
    text-align: center;
    top: -20px;
    
}

#title-2{
  background-color: black;
  opacity: 60%;
  position: fixed;
  height: 110%;
  width: 50%;
  padding: 0;
  text-align: center;
  top: -20px;
  right:0px
}

#title-1:hover{
 cursor: pointer;
}
#title-2:hover{
  cursor: pointer;
 }


#external{
  color: black;
  padding-top: 2em;
  font-size: 150px;
  padding-left: 20px;
}

#internal{
  color: white;
  padding-top: 2em;
  font-size: 150px;
}

.gallery img:hover{
    /* max-width: 145px; */
    /* transform: scale(1); */
    opacity: 100%;
    filter: blur(0);
    cursor: pointer;
}

.gallery{
  position: absolute;
    align-content: flex-start;
    align-self: center;
    padding-left: 7%;
    padding-bottom: 5%;
}

p{
    font-size: 1.5em;
    line-height: 1.2em;
    display: none;
}

/* .dark-mode{
  filter: invert(100%);
} */

.close-1{
  animation: slideright 1.2s forwards;
}

@keyframes slideright {
  to{
    width: 0%;
  }
}

#nav{
  position: absolute;
  /* display: block; */
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(132, 0, 0);
  align-content: center;
  z-index: 13;
  left: 42%;
  top:15%;
  mix-blend-mode: difference;
}

#nav:hover{
 cursor: move;
}

h3{
  color: white;
  font-family: Helvetica;
  font-weight: 600;
  text-align: center;
  padding-top: 22px;
  font-size: 14px;
}

h3:hover{
  opacity: 60%;
  cursor: pointer;
}

#nav-2{
  position: absolute;
  /* display: block; */
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: rgb(132, 0, 0);
  align-content: center;
  z-index: 13;
  left: 55%;
  top:65%;
  mix-blend-mode: difference;
}

#nav-2:hover{
 cursor: move;
}

#information{
  position: absolute;
  padding: 5px;
  padding-left: 5px;
  padding-right: 15px;
  align-items: center;
  
}

#heading{
  /* font-family: Helvetica, sans-serif; */
  font-size: 2em;
  font-weight: 200;
  padding-bottom: 1em;
}

#heading em{
  font-weight: 600;
  font-size: 42px;
}

.character{
  position: fixed;
  width: 80%;
  z-index: -10;
  opacity: 50%;
}

.glitch{
	position: absolute;
	z-index: 1;
}

.glitch:before, .glitch:after{
	content: "Digitalized";
  	position: absolute;
  	left: 0;
	z-index: -1;
}

.glitch:before{
	color: rgb(11, 128, 206);
	clip-path: polygon(0 0%, 100% 0%, 100% 66%, 0 66%);
	animation: slide-right .15s ease-in-out infinite;
}

.glitch:after{
	color: rgb(207, 28, 28);
	clip-path: polygon(0 33%, 100% 33%, 100% 100%, 0 100%);
	animation: slide-left .2s ease-in-out infinite;
}

@keyframes slide-left{
	to{
		transform: translateX(1.5px);
	}
}

@keyframes slide-right{
	to{
		transform: translateX(-1.5px);
	}
}

/* .offset{
	transform: translateX(-1.5px);
	animation: offset 2s ease infinite;
	background: black;
  opacity: 20%;
  background-blend-mode: color-dodge;
	position: absolute;
	z-index: 2;
	color: white;
}

@keyframes offset{
	from{
		clip-path: polygon(0 0%, 100% 0%, 100% 15%, 0 15%);
	} 50% {
		clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
	} to {
		clip-path: polygon(0 0%, 100% 0%, 100% 15%, 0 15%);
	}
} */

p{
  padding-left: 30px;
  line-height: 180%;
  
}

#name{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  line-height: 110%;
  padding-right: 25px;
}

#translation{
  color: rgb(12, 12, 125);
}

.directions{
  font-size: 13px;
  font-weight: 600;
}

#intro{
  font-size: 16px;
}

.about{
  font-family: Arial, Helvetica, sans-serif;
}
