html{
    font-family: Arial, Helvetica, sans-serif;
}

.banner{
    padding:1em;
}

marquee{
    font-size: 5em;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.circle-one{
    background-color: black;
    position: absolute;
    border-radius: 50%;
    width:500px;
    height:500px;
    left: 440px;
    top: 200px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    margin-top: 5%;
}

.circle-two{
    position: absolute;
    left:1px;
    top:450px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    animation-name: ball;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    top:1em;
    position: absolute;
    padding: 1em;
}

@keyframes ball {
    0%{
        transform: translateX(1px);
    }
    50%{
        transform: translateX(1240px);
    }
    100%{
        transform: translateX(-10px);
    }
}

.circle-three{
    position: absolute;
    left:700px;
    top:630px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    text-align: center;
    animation-name: bounce;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes bounce {
    0% {
		transform: translate(0, 0);
	}

	50% {
		transform: translate(-720px, -720px);
	}
    100% {
		transform: translate(0, 0);
	}

}

.circle-two:hover{
    color: white;
    filter: blur(0);
    cursor: pointer;
}

.circle-three:hover{
    color: white;
    filter: blur(0);
    cursor: pointer;
}

/* .color-dogde{
    width:100vw;
    height:100vh;
    position:absolute;
    background-color: #D9D9D9;
    mix-blend-mode: color-dodge;
    z-index: -2;
}

.color-burn{
    width:100vw;
    height:100vh;
    position:absolute;
    background-color: black;
    mix-blend-mode: color-burn;
    z-index: -1;
} */

span{
    font-weight: 900;
}

footer{
    padding:1em;
    position: absolute;
    top:800px;
}

  