/* MacBook Pro 14" - 1 */
html{
position: relative;
width: 965px;
height: 920px;
background: #E5F3F8;
}

/* Rectangle 1 */
.rectangle{
  position:fixed;
  width: 402px;
  height: 962px;
  left: 838px;
  top: 0px;
  margin-top: : -10px;
  overflow: hidden;

  background: #8FBAC3;
  transform: rotate(90.26deg);
}

/* cOre One */
.title{
position: absolute;
width: 787px;
height: 198px;
left: 107px;
top: 0px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 140px;
line-height: 95px;

color: #000000;
}


/* Interation */
.name{
position: absolute;
width: 973px;
height: 256px;
left: 440px;
top: 110px;

font-family: 'EB Garamond';
font-style: normal;
font-weight: 600;
font-size: 135px;
line-height: 86px;
letter-spacing: 0.125em;
text-transform: lowercase;

color: #000000;
}


/* 909225ebfc91d1791872c7eb0b916265 1 */
img{
position: fixed;
width: 900px;
height: 625px;
left: 0px;
top: 400px;

background: url(909225ebfc91d1791872c7eb0b916265.jpg);
}

/* ExercisEs */
.exer{
position: absolute;
width: 519px;
height: 135px;
left: 980px;
top: 500px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 275;
font-size: 82px;
line-height: 10px;
filter:none;
color: #000000;
}


/* Harmonic CollEction */
.harm{
position: absolute;
width: 492px;
height: 253px;
left: 980px;
top: 630px;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 275;
font-size: 76px;
line-height: 93px;
filter:none;

color: #000000;
}

.exer:hover{
  transition: 2s;
  filter: blur(5px);
}

.harm:hover{
  transition: 2s;
  filter: blur(5px);
}
