h1{
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  src: <link rel="preconnect" href="https://fonts.googleapis.com">
}
h3 {
  text-align: center;
}

summary{
  text-align: center;
}
pre{
  text-align: center;
}

body{
  background-image:url(https://freepngimg.com/save/22643-ocean-fish-transparent-image/640x507);
  image size: 60px;
background-repeat: no-repeat;
background-position: left bottom;
margin-right: 100px;
background-attachment: fixed;
}
