html{
	background-color: black;
	/* font-family: 'Chakra Petch', sans-serif;   */
	background-size: 100px 100px;
	background-image:
	  linear-gradient(to right,rgb(0, 255, 221) .15px, transparent 1px),
	  linear-gradient(to bottom,rgb(0, 255, 221) .15px, transparent 1px);
      overflow-x: hidden;
}

h2{
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

.title {
    font-size: 2.5em;
    color: white;
    width:100vw;
    padding-left: 0.3em;
    padding-bottom: 0;
    padding:0.4em;
}

.container{
    display: flex; 
    flex-wrap: wrap;
    padding-left:4em;
    padding-right: 4em;
    padding-top: 4.5em;
}

.systems{
    width: 25%;
    padding: 1em;
    padding-top:2em;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top:40px;
}

button{
    font-size: 1.5em; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
    opacity:1;
    color: aqua;
    background-color: rgba(255, 255, 255, 0.283);
    border: solid 2px aqua;
    height: 2em;
    /* border-radius: 20px; */
}

button:hover{
    background-color: rgba(255, 255, 255, 0) ;
    cursor: pointer;
}

.scan{
    position: fixed;
    width: 100vw;
    height: 15vh;
    background-image: linear-gradient(transparent, rgb(0, 255, 221));
    animation: scan 10s forwards; 
}

@keyframes scan {
    from{top:0%;}
    to{top:100%;}
}

img{
    position: absolute;
    height: auto;
    width: 35vw;
    margin-left: 4em;
    display: none;
    filter: invert(1);
}

.image{
    width: 55%;
    height: 75vh;
    border: solid 20px white;
    box-shadow: 5px 5px 50px 20px rgb(0, 255, 234);
    padding-left: 3em;
    padding-top: 2em;
    align-content: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.275);
}

#others {
    width:400px;
    height: auto;
    margin-top: 2em;
    filter: none;
}

#external{
    width:400px;
    height: auto;
}

.beat{
	position: absolute;
	left:90%;
	top: 10%;
	/* transform: translate(50%,50%); */
}

i{
	text-shadow: 0 0 40px rgb(0, 255, 221);
	/* transform: scale(20); */
	animation: beating 1.5s infinite;
    /* color: black; */
}

@keyframes beating{
	0%{transform: scale(1.10);}
	30%{transform: scale(1.4);}
	60%{transform: scale(1.9);}
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00ffcc; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00ffd985; 
  }

  ::-webkit-scrollbar-corner{
    display: none;
  }
