@font-face {
    font-family: 'Neue Haas Black';
    src: url('./fonts/NH-Black.woff') format('woff'),
        url('./fonts/NH-Black.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Regular';
    src: url('./fonts/NH-Regular.woff') format('woff'),
        url('./fonts/NH-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html{
    margin: 0;
    font-size: 10px;
    font-family: 'Playfair Display';
    box-sizing: border-box;
    background-color: #f6f2f1;
}

body {
    padding: 1rem;
    font-size: 1.6rem;
}

.harvest{
  font-size: 5em;
  font-weight: 600;
  color: #4c2a22;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 3px #4c2a22;
}

p{
  color: #4c2a22;
}

.title{
  width: 60%;
  text-align: center;
  padding-top: 2em;
  border-left: solid 3px #4c2a22;
  border-right: solid 3px #4c2a22;
}

.date{
  font-size: 2.5rem;
  font-weight: 200;
}

.illustration{
  height: 24vh;
  width:12vw;
  padding:1em;
}

.logo{
  width:20%;
  padding-left: 3.3em;
  border: none;
}

.title-info{
  font-size: 2rem;
  color: #4c2a22;
  width:20%;
  text-align: center;
  padding-top: 4em;
  font-weight: 600;
}

.button-bar{
  border: solid 3px #4c2a22;
  border-top: 0px;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.4em;
}

img{
  width: 30em;
}

.airtable-item{
  display: grid;
  width: 30em;
  border: solid 3px #4c2a22;
  border-radius: 5%;
  text-align: center;
  padding: 0.5em;
}

.edible-filter-show{
  display: block;
}

.edible-filter-hide{
  display: none;
}

.nonedible-filter-show{
  display: block;
}

.nonedible-filter-hide{
  display: none;
}

.filter-show{
  display: block;
  background-color: none;
}

.filter-hide{
  display: none;
}

.button-wrapper{
  display: flex;
  flex-direction: column;
    border: solid 3px #4c2a22;
    border-top: 0px;
    font-size: 1.5em;
    justify-content: space-around;
    padding: 0.4em;
    margin-bottom: 1em;
    width:20%;
}

button{
  color: #4c2a22;
}

h2{
  font-weight: bolder;
}

h3{
  font-style: italic;
  text-align: center;
}
